<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список співробітників</title>
</head>
<body>
<p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></p>
<p class="item_list__title"> Список співробітників: </p>
<div class="item_list" th:each="user : ${users}">

    <div class="item_list__item">
        <a th:href="@{/users/{id}(id = ${user.getId()})}"
           th:text="${user.getLastName() +
            ' ' + user.getFirstName() +
             ' ' + user.getMiddleName()}">
        </a>
        <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Змінити</a>
        <form th:method="POST"
              th:action="@{/users/{id}/delete(id=${user.getId()})}">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="submit" value="Видалити">
        </form>
    </div>
</div>
<a href="/users/new">
    Додати
</a>
</body>
</html>